.viewer {
  //display: flex;
  //flex-flow: row wrap;
  //align-items: flex-start;
  //justify-content: center;

  //width: 100%;

  margin-top: 12px;
}

.card {
  max-width: 512px;
}

.description {
  background-color: red;
  color: blue;
  min-width: 300px;
}
