.home {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding-top: 22px;
}

.homex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
